@tailwind base;
@tailwind components;
@tailwind utilities;

/* خلفية عامة */
body {
  margin: 0;
  background-color: #000000 !important;
  color: white;
  min-height: 100vh;
}

/* كل خلية Sudoku */
.sudoku-cell {
  display: flex;
}

/* input داخل الخلية */
.sudoku-cell input {
  width: 100%;
  height: 100%;
  color: black;
}

/* تأثير جميل */
.sudoku-cell input:focus {
  transform: scale(1.05);
  z-index: 10;
}
